Foundations/.Basics.aux
Foundations/.Makefile.d
Foundations/Basics.glob
Foundations/Basics.vo
Foundations/Basics.vok
Foundations/Basics.vos
Foundations/Induction.glob
Foundations/Induction.vo
Foundations/Induction.vok
Foundations/Induction.vos
Foundations/.Induction.aux
Foundations/Lists.glob
Foundations/Lists.vo
Foundations/Lists.vok
Foundations/Lists.vos
Foundations/.Lists.aux
Foundations/Poly.glob
Foundations/Poly.vo
Foundations/Poly.vok
Foundations/Poly.vos
Foundations/.Poly.aux
Foundations/Tactics.glob
Foundations/Tactics.vo
Foundations/Tactics.vok
Foundations/Tactics.vos
Foundations/.Tactics.aux
Foundations/Logic.glob
Foundations/Logic.vo
Foundations/Logic.vok
Foundations/Logic.vos
Foundations/.Logic.aux
Foundations/Makefile
Foundations/Makefile.conf
